AA
AA_Heap
Bookythings
Code
DeadCode
Desktop
Documents
Downloads
Flacs
Food
Games
Music
Notes
Ork
phone
Pictures
podcasts
Scratch
.src-cache
TODO
tor
Untagged
Videos

#awful things that i hopefully dont use
.adobe/
.macromedia/
.Skype/

#passwords, security, keys, cookies
.android
.clips
.cyphertite/
.esd_auth
.gnupg/
.gpg
.pki/
.ICEauthority
.pulse-cookie
.secrets
wifi.conf
wifi-auto.conf
wvdial.conf
.Xauthority

#media, binaries, data
.icedove/
.kodi/
.mozilla/
.pcsx/*
!.pcsx/pcsx.cfg
!.pcsx/plugins/
.pcsx/plugins/*
!.pcsx/plugins/*.cfg
.purple/
.thunderbird/
.steam/
.steampath
.steampid

#state
.dbus/
.gksu.lock
.klomp/*
!.klomp/lib
.pulse-enabled

#logs, history, caches
.local/
.cache/*
!.cache/escapepod/
!.cache/podcastle/
!.cache/pseudopod/
.cache/escapepod/*
.cache/podcastle/*
.cache/pseudopod/*
!.cache/escapepod/downloads
!.cache/podcastle/downloads
!.cache/pseudopod/downloads
fontconfig/
.fontconfig
.gstreamer-0.10/
.kde/
.bash_history
.src-cache/
.viminfo
.vim/.netrwhist
.xsession-errors*
.xsel.log

#too volatile configs
.cabal-7.6.3/
.audacity-data/
.cabal/
.config/*
!.config/backup.conf
!.config/feh/
!.config/ipmagic/
!.config/pulse
.config/pulse/*
!.config/pulse/default.pa
!.config/taffybar/
!.config/tpbattstat.conf
.cpan/
.cpanm/
.FBReader/
.fltk/
fontconfig/
.fontconfig/
.fonts/
.gem/
.gnome
.gnucash
.hex-a-hop
.icedtea/
.lesshst
.java/
.gconf/
.gconfd/
.ghc*/
.gimp*/*
!.gimp*/plug-ins/
.gnome2/
.libreoffice/
.mono
printers/
.pulse/
.rpmdb/
.sane/
.subversion
.tor/
.vidalia/
.wine/
